#soon
{
  max-width: 50%;
  margin: auto;
  font-size: 1.6em;
  font-family: 'Hind-Colombo-Light';
  
}

#soon h2
{
  border-radius: 5px;
  padding:20px;
  background-color: $page-color;
  color: $page-text-color;
  text-align: center;
}

