.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a
{
    text-decoration: none;
}

footer
{
    display: flex;
    justify-content: space-between;
}

body
{
    width:900px;
}
