@import '../fonts/fonts_file';

@import '../sass/utils/variables';
@import '../sass/base/presentation';
@import '../sass/components/soon';
@import '../sass/layout/footer';
@import '../sass/layout/header';
@import '../sass/layout/menu_detail';
@import '../sass/pages/legal_notices';
@import '../sass/pages/menu_1_la_note';
@import '../sass/pages/menu_2_le_chic';

@media (min-width:920px)
{
  .menu_rest img
  {
    max-width: 400px;
    height: auto;
  }
}

@media (max-width: 920px)
{
  .menu_rest img
  {
    max-width: 80%;
    height: auto;
  }
}

@media (max-width:576px)
{
  /*.menu_rest img
  {
    max-width: 80%;
    height: auto;
  }*/

  footer h3
  {
    font-size: 0.7em;
  }

  #soon h2
  {
    font-size: 0.8em;
  }

  h1
  {
    font-size: 1.2em;
  }

  .menu_detail p
  {
    font-size: 1.3em;
  }

  .infos_leg p,h3
  {
    font-size: 0.7em;
  }
}

.menu_rest img
{
  margin: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px grey;
}

/*
@media (min-width:680px)
{
  .menu_detail img
  {
    max-width: 600px;
    height: auto;
  }
}

@media (max-width: 680px) and (min-width:440px)
{
  .menu_detail img
  {
    max-width: 80%;
    height: auto;
  }
}

@media (max-width:439.98px)
{
  .menu_detail img
  {
    max-width: 80%;
    height: auto;
  }
}


.menu_detail img
  {
    max-width: 80%;
    height: auto;
    border-radius: 3px ;
    box-shadow: 0px 0px 10px grey;
}

.menu_detail a
  {
    display: flex; 
    justify-content: center;
    margin: 10px 0px 10px 0px;
  }

.menu_detail p
{
    color: rgb(53, 53, 53);
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}*/