@media (min-width:640px)
{
  .menu_detail img
  {
    max-width: 600px;
    height: auto;
  }
}

@media (max-width: 639.98px) and (min-width:440px)
{
  .menu_detail img
  {
    max-width: 400px;
    height: auto;
  }
}

@media (max-width:439.98px)
{
  .menu_detail img
  {
    width: 94%;
    height: auto;
    margin: 0px 0px 0px 10px;
  }
}



#whole_page_menu
{
    background:rgb(218, 218, 164);
    max-width:990px;
    margin: auto;
}

section
{
    display: flex;
    justify-content: center;
}

.menu_detail img
{
    
    border: solid 2px grey;
}

.menu_detail a
{
    margin: 10px 0px 20px 0px;
    text-decoration: none;
}