/*@font-face {
    font-family: 'Hind-Colombo-Light';
    src:url('../../fonts/Hind-Colombo-Light.ttf.woff') format('woff'),
        url('../../fonts/Hind-Colombo-Light.ttf.svg#Hind-Colombo-Light') format('svg'),
        url('../../fonts/Hind-Colombo-Light.ttf.eot'),
        url('../../fonts/Hind-Colombo-Light.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
  }*/

footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(87, 156, 135);
    width:100%;
    max-width: 990px;
    max-height: 80px;
    position: fixed;
    bottom: 0px;
    font-size: x-large;
    font-family: 'Hind-Colombo-Light';
}

footer h3
{
  padding: 0px 30px 0px 30px;
  word-spacing: 0.3em;
  animation: shake 3000ms infinite;
}

@keyframes shake {
  2% {
    transform: translateX(2%);
  }
  4% {
    transform: translateX(-2%);
  }
  6% {
    transform: translateX(4%);
  }
  8% {
    transform: translateX(-4%);
  }
  10% {
    transform: translateX(2%);
  }
  12% {
    transform: translateX(2%);
  }
  14% {
    transform: translateX(0%);
  }
}

