header
{
  font-size: xx-large;
  font-weight: 400;
  font-family: 'HomepageBaukasten-Bold1';
}

h1
{
  padding: 30px;
  margin-top: 0px;
  letter-spacing: -0.05em;
  background-color: $page-color;
  color: $page-text-color;
  text-align: center;
}

h1 span
{
    letter-spacing: -0.1em;
}
