.menu_view
{
    h2
    {
        text-align: center;
        font-size: xx-large;
        color: rgb(99, 99, 99);
    }
}

.menu_detail
{
    margin: auto;
    width:80%;
    border-radius: 3px;
    box-shadow: 0px 0px 10px grey;
    display: block;
    padding: 100px 0px 100px 0px;
    
    .delimiter{
        max-width: 30%;
        }

    &__delimitereverse
    {
        transform: rotateY(180deg);
    }

    &__items {
        &--cat {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        h3 {
            font-size: 1.3em;
            text-align: center;
            &::after {
                    content: "";
                    display: block;
                    margin-top: 5px;
                    height: 4px;
                    border-radius: 4px;
                    background: radial-gradient(ellipse, #3b3b3b 70%, rgba(243, 235, 235, 0));
                    transform-origin: 0% 50%;
                    transform: scaleX(0);
                    transition: all 200ms ;
            } 
            &:hover:after {
                transform: scaleX(1);
            }
        }
        }

        &--options {
            ul {
                padding: 0% 3% 0% 3%;
            }
            li {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-bottom: 4%;
            }
            span{
                padding-left: 30px;
            }
        }  
    }
}

#menus_covers 
{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.menu_cover {
    margin: 10px;
    &__text {
        margin: auto;
        text-align: center;
    }
    
    a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            border-radius: 3px;
            box-shadow: 0px 0px 10px grey;
            width: 400px;
            height: 600px;
            &:hover>div{
                transition: all 700ms;
                transform: scale(1.25);
                opacity: 0.5;
            }
        }
}