.menu_detail
{
    h2
    {
        text-align: center;
    }
   
    li
    {
        list-style: none;  
    }

    span
    {
        padding-left: 30px;
    }

    h3
    {
        font-size: x-large;
        text-align: center;
    }

    &__delimitereverse
    {
        transform: rotateY(180deg);
    }

    &__items {
        &--cat {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        }
        &--options li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 2% 15% 2% 10%;
        }
    }
    
    
    

/*&__la_note
{
    background-color: grey;
    &--name {
        font-family: 'Devonshire-Regular';
        font-size: xx-large;
    }
    & h3,li {
    font-family: 'TYPO-COMICS-DEMO';   
    }
}*/
}