.infos_leg
{
  max-width: 80%;
  margin: auto;
  margin-bottom: 140px;
  font-size: large;
  a {
    color: $page-text-color;
  }

  h3 {
    margin-top: 40px;
    padding: 7px;
    /*color: $page-text-color;
    background-color: $page-color;*/
    border-radius: 5px;
  }

  h2 {
    text-align: center;
    color: gray;
  }

  span {
    color: $page-color;
    font-weight: bold;
  }
}

