.menu_detail{

    &__la_note {

        background-color: $bg-menu1;

        .menu_detail__items--options {
            padding: 2% 8% 2% 8%;
        }

        .menu_detail__items--cat {
            padding: 2% 10% 2% 10%;
        }

        &__picture--top {
            display: flex;
            justify-content: center;
        }

        &--name {
            font-family: 'Devonshire-Regular';
            font-size: xx-large;
        }

        h2
        {
            font-size: 2em;
            color: #000000;
        }

        h3,li {
        font-family: 'TYPO-COMICS-DEMO'; 
        color: black;
        &::after { 
            background-image: url("../../images/delimiter-menu1-g.svg");}
        }

        &__bottom {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 20px;

            p {
                font-size: 1.4em;
                color: black;         
            }

            img {
                width: 50px;
                height: auto;
                margin: 0px 20px 0px 20px;
            }
        }
    }
}

.menu_cover {

    &__la_note {
        
        background-color: $bg-menu1;

        img {
            width: 20%;
        }

        h3 {
            font-family: 'TYPO-COMICS-DEMO'; 
            font-size: 2.6em;
            color: black; 
        }

        h2 {
            font-size: 1.3em; 
            color: black;
        }
    }
}