.menu_detail__la_palette
{
    &--name {
        font-family: 'Kaushan-Script';
        font-size: xx-large;
    }

    h3,li {
    font-family: 'TYPO-COMICS-Light-DEMO';   
    }

    img{
            width: 30%;
            padding: 30px;
        }
}