.menu_detail__la_palette
{
    background-color: $bg-menu4;
    padding: 100px 0px 100px 0px;

    &--name {
        font-family: 'Kaushan-Script';
        font-size: xx-large;

        h2 {  
            background: linear-gradient(120deg,$menu4-dark-color,$menu4-clear-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color:transparent;
            font-size: 2em;
            }
    }

    h3,li {
    font-family: 'TYPO-COMICS-Light-DEMO';   
    }

    .delimiter{
            max-width: 30%;
            padding: 30px;
        }
}

.menu_cover {
    &__la_palette {
        
        background-color: $bg-menu4;

        h3 {
            font-family: 'TYPO-COMICS-Light-DEMO'; 
            font-size: 3em;
            font-weight: 100;
            color: $menu4-dark-color;
            
            }

        h2 {
            font-size: 1.1em; 
            color: black;
            }
    }
}