
.menu_detail
{
    &__le_delice {
      background-color: $bg-menu3;
      
      .menu_detail__items--options {
        padding: 2% 12% 2% 12%;
      }

      .menu_detail__items--cat {
        padding: 2% 6% 2% 6%;
    }

      &--name {
          font-family: 'Parisienne';
          font-size: xx-large;
          
        h2 {
          @include degrade-delice;
          font-size: 2em;
          font-weight: 100;
          }
      }

      h3,li {
      font-family: 'TYPO-COMICS-Light-DEMO'; 
      color: black; 
      }
      }
    
      .blue1 {
        h3::after {
          background: radial-gradient(ellipse, $menu3-1-color 70%, rgba(243, 235, 235, 0));
        }
      }
      .blue2 {
        h3::after {
          background: radial-gradient(ellipse, $menu3-2-color 70%, rgba(243, 235, 235, 0));
        }
      }
      .blue3 {
        h3::after {
          background: radial-gradient(ellipse, $menu3-3-color 70%, rgba(243, 235, 235, 0));
        }
      }
}

.menu_cover {
  &__le_delice {
        
    background-color: $bg-menu3;

    h3 {
        font-family: 'TYPO-COMICS-Light-DEMO'; 
        font-size: 3em;
        font-weight: 100;
        color: $menu3-3-color;
    }

    h2 {
        font-size: 1.1em; 
        font-weight: 300;
    }
}
}