
.menu_detail
{
    &__le_delice {
      background-color: $bg-menu3;
      padding: 100px 0px 100px 0px;

      .menu_detail__items--options {
        padding: 2% 12% 2% 12%;
      }

      .menu_detail__items--cat {
        padding: 2% 2% 2% 2%;
    }

      &--name {
          font-family: 'Parisienne';
          font-size: xx-large;
          
        h2 {
          @include degrade-delice;
          font-size: 2em;
          }
      }

      h3,li {
      font-family: 'TYPO-COMICS-Light-DEMO'; 
      color: black;  
      }

      .delimiter{
              max-width: 35%;
          }
      }
    
      
}

.menu_cover {
  &__le_delice {
        
    background-color: $bg-menu3;

    h3 {
        font-family: 'TYPO-COMICS-Light-DEMO'; 
        font-size: 3em;
        font-weight: 100;
        color: rgb(80, 190, 253);
        }

    h2 {
        font-size: 1.1em; 
        font-weight: 300;
        }
}
}