.menu_detail__le_chic
{
    &--name {
        font-family: 'Croissant-One';
        font-size: x-large;
    }

    h3 {
        font-family: 'Vidaloka';
    }

    li {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        /*font-size: 1em;*/
    }

    img {
        width: 30%;
        padding: 30px;
    }

    &__items {
        &--all-1
    {
        color:$menu3-1-color; 
    }

        &--all-2
    {
        color:$menu3-2-color; 
    }

        &--all-3
    {
        color:$menu3-3-color; 
    }
    }
    
}
