.menu_detail
{
    &__la_palette {
        background-color: $bg-menu4;

        .menu_detail__items--options {
            padding: 2% 10% 2% 10%;
        }

        .menu_detail__items--cat {
            padding: 2% 5% 2% 5%;
        }

        &--name {
            font-family: 'Kaushan-Script';
            font-size: xx-large;

            h2 {
                @include degrade-palette;  
                font-size: 2em;
                }
        }

        h3,li {
        font-family: 'TYPO-COMICS-Light-DEMO';
        color: black;
            &::after {
            background: radial-gradient(ellipse, $menu4-clear-color 70%, rgba(243, 235, 235, 0));
            }   
        }
    }
}

.menu_cover {
    
        &__la_palette {
            
            background-color: $bg-menu4;

            h3 {
                font-family: 'TYPO-COMICS-Light-DEMO'; 
                font-size: 2.8em;
                font-weight: 100;
                color: $menu4-dark-color;
                }

            h2 {
                font-size: 1.3em; 
               
                }
        }
    }