a
{
    text-decoration: none;
    color: $page-text-color;
}

body
{
  max-width:990px;
  margin: auto;
  border: solid 2px $page-color;
  box-shadow: $page-color 0px 3px 10px inset;
  
}

main
{
    margin-bottom: 140px;
}


/*Peut-être à mettre dans un fichier CSS Accueil*/

#menus_covers 
{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

/*#menus_covers a
{
  display: flex;
  justify-content: center;
  
}*/