@font-face {
    font-family: 'HomepageBaukasten-Bold1';
    src:url('../fonts/HomepageBaukasten-Bold1.ttf.woff') format('woff'),
        url('../fonts/HomepageBaukasten-Bold1.ttf.svg#HomepageBaukasten-Bold1') format('svg'),
        url('../fonts/HomepageBaukasten-Bold1.ttf.eot'),
        url('../fonts/HomepageBaukasten-Bold1.ttf.eot?#iefix') format('embedded-opentype'); 
    
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Hind-Colombo-Light';
    src:url('../fonts/Hind-Colombo-Light.ttf.woff') format('woff'),
        url('../fonts/Hind-Colombo-Light.ttf.svg#Hind-Colombo-Light') format('svg'),
        url('../fonts/Hind-Colombo-Light.ttf.eot'),
        url('../fonts/Hind-Colombo-Light.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Devonshire-Regular';
    src:url('../fonts/Devonshire-Regular.ttf.woff') format('woff'),
        url('../fonts/Devonshire-Regular.ttf.svg#Devonshire-Regular') format('svg'),
        url('../fonts/Devonshire-Regular.ttf.eot'),
        url('../fonts/Devonshire-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'TYPO-COMICS-DEMO';
    src:url('../fonts/TYPO-COMICS-DEMO.ttf.woff') format('woff'),
        url('../fonts/TYPO-COMICS-DEMO.ttf.svg#TYPO-COMICS-DEMO') format('svg'),
        url('../fonts/TYPO-COMICS-DEMO.ttf.eot'),
        url('../fonts/TYPO-COMICS-DEMO.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Croissant-One';
    src:url('../fonts/Croissant-One.ttf.woff') format('woff'),
        url('../fonts/Croissant-One.ttf.svg#Croissant-One') format('svg'),
        url('../fonts/Croissant-One.ttf.eot'),
        url('../fonts/Croissant-One.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vidaloka';
    src:url('../fonts/Vidaloka.ttf.woff') format('woff'),
        url('../fonts/Vidaloka.ttf.svg#Vidaloka') format('svg'),
        url('../fonts/Vidaloka.ttf.eot'),
        url('../fonts/Vidaloka.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Parisienne';
    src:url('../fonts/Parisienne.ttf.woff') format('woff'),
        url('../fonts/Parisienne.ttf.svg#Parisienne') format('svg'),
        url('../fonts/Parisienne.ttf.eot'),
        url('../fonts/Parisienne.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TYPO-COMICS-Light-DEMO';
    src:url('../fonts/TYPO-COMICS-Light-DEMO.ttf.woff') format('woff'),
        url('../fonts/TYPO-COMICS-Light-DEMO.ttf.svg#TYPO-COMICS-Light-DEMO') format('svg'),
        url('../fonts/TYPO-COMICS-Light-DEMO.ttf.eot'),
        url('../fonts/TYPO-COMICS-Light-DEMO.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kaushan-Script';
    src:url('../fonts/Kaushan-Script.ttf.woff') format('woff'),
        url('../fonts/Kaushan-Script.ttf.svg#Kaushan-Script') format('svg'),
        url('../fonts/Kaushan-Script.ttf.eot'),
        url('../fonts/Kaushan-Script.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}