.menu_detail__le_chic
{
    &--name {
        font-family: 'Croissant-One';
        font-size: x-large;
    }

    & h3 {
        font-family: 'Serif6Beta-Bold';
    }

    & li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    }
}