@keyframes points {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-6px);
    }
  }
  
  @keyframes pointsm {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-3px);
    }
  }

@keyframes shake {
    2% {
      transform: rotate(3deg) translateX(2%);
    }
    4% {
      transform: rotate(-3deg) translateX(-2%);
    }
    6% {
      transform: rotate(3deg) translateX(4%);
    }
    8% {
      transform: rotate(-3deg) translateX(-4%);
    }
    10% {
      transform: rotate(3deg) translateX(2%);
    }
    12% {
      transform: rotate(-3deg) translateX(-2%);
    }
    14% {
      transform: rotate(0deg) translateX(0%);
    }
  }
  
  