$page-color:#579c87;
$page-text-color:#fdcb46;

$menu2-1-color: #c57618; 
$menu2-2-color: #a7699e; 
$menu2-3-color: #704fcd; 

$menu4-clear-color:#c8fb9a;
$menu4-dark-color:#41963c;

$bg-menu1: #fcdfdb;
$bg-menu2: #fff5fe;
$bg-menu3: #edefef;
$bg-menu4: #fdfffd;
